// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples
$v-app-loading-text: "cargando";

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  .borde{
   	border: 1px solid blue;
   	
   }
   
   .header {
   		
   		background-image: url(img/ArdunioLOgo.svg);
   		background-repeat: no-repeat;
   		background-position: 100% 100%;
   		background-color: #197de1;
   		color: white;
   }
   
   .v-scrollable {
   	overflow: auto;
   }
   
   .labelMenu {
   		font-family: fantasy;
		font-style: italic;
		font-size: 25px;
		font-weight: bolder;
		font-height: 30px;  
		color: white;
   }
   
   .logoUdo {
   	position: relative;
  	left: 149px;
   }
   
   .menu {
   	background: #38414A;
   	color: #D4D8E0;
   	height: 100%;
   	
   }
   
   
    .switchOff {
  	background: url(img/swOff.png) no-repeat;
  	outline: none;
  	width: 120px;
  	height: 37px; 
  	position: relative;
  	top: 141px;
  }
  .switchOn {
  	background: url(img/swRojo.png) no-repeat;
  	outline: none;
  	width: 120px;
  	height: 37px; 
  	position: relative;
  	top: 141px;
  }
  
  .ledRojoON {
  	background: url(img/bombilloON.png) no-repeat;
  	outline: none;
  	width: 92px;
  	height: 211px;
  }
  .ledRojoOFF {
  	background: url(img/bombilloOff.png) no-repeat;
  	outline: none;
  	width: 92px;
  	height: 211px;
  }
  
  	.arbol .v-tree-node {
  		color: white;
  	}
  		
  	.arbol .v-tree-node .v-tree-node-selected:after {
		border-radius: 0;
		background: #2f373e;
		color: white;
		
	}
}
